.component-emoji-result-row {
  padding: 10px;
  height: 32px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.component-emoji-result-row-light {
  border-bottom: 1px solid #ccc;
  background: #fff;
  color: #111;
}

.component-emoji-result-row-dark {
  border-bottom: 1px solid #333;
  background: #111;
  color: #fff;
}

.component-emoji-result-row-light:hover {
  background-color: #eee;
}

.component-emoji-result-row-dark:hover {
  background-color: #222;
}

.component-emoji-result-row img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.component-emoji-result-row .title {
  position: relative;
  top: -8px;
}

.component-emoji-result-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-emoji-result-row:hover .info {
  display: inline-block;
}
